.vscode/**
test/**
.git/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
node_modules
**/node_modules
server/node_modules
server/node_modules/**
server/index.js
server/config.js
server/core
server/core/**
server/tools
server/tools/**
server/package.json
server/package-lock.json
server/pnpm-lock.yaml
server/TOOLS.md
pnpm-lock.yaml
*.vsix
.env
